* {
    padding: 0px;
    margin: 0px;
    font-family: 'Atma', cursive;
}

body {
    background-color: rgb(57, 169, 219);
}

.main-heading,
.summary-heading,
.report-heading,
.email-heading,
.interview-heading {
    text-align: center;
    position: relative;
    top: 90px;
}

.nav-bar {
    display: flex;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: white;
    z-index: 99;  
}

.nav-item {
    margin: 12px;
    font-size: 18px;
}

.nav-bar a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    transition: 0.5s;
    border-bottom: transparent 1px solid;
    background-color:white;
}

.active {
    border-bottom: goldenrod 4px solid;
    background-color: white;
    color: blue;
}

.nav-bar a:hover {
    border-bottom: goldenrod 2px solid;
    background-color: white;
    color: grey;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.next-recipe-a a {
    text-decoration: none;
    font-size: 24px;
    color: rgb(57, 169, 219);
    white-space: nowrap;
    position: relative;
    right: 2370px;

}

.next-recipe a {
    text-decoration: none;
    font-size: 24px;
    color: rgb(57, 169, 219);
    white-space: nowrap;
}

.previous-recipe a {
    text-decoration: none;
    font-size: 24px;
    color: rgb(57, 169, 219);
}

.hdg {
    position: relative;
    white-space: nowrap;
    left: 753px;
    bottom: 880px;
    width: 100px;
}

.txt {
    position: relative;
    font-size: 20px;
    left: 0px;
    bottom: 780px;
    white-space: nowrap;
}

.ing {
    position: relative;
    right:1520px;
    bottom: 700px;
}

.ul {
    position: relative;
    bottom: 200px;
    right: 1695px;
    font-size: 20px;
    white-space: nowrap;
}

.inst {
    position: relative;
    bottom: 650px;
    right: 1200px;
}

.ol {
    position: relative;
    bottom: 390px;
    right: 1730px;
    font-size: 20px;
    white-space: nowrap;
}

.menu-content-holder {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    top: 120px;
    text-align: center;
    height: 950px;
    width: 1700px;
    border-radius: 0px;
    background-color: rgba(255, 255, 255, 0.9);
}

.paneer {
    position: relative;
    bottom: 100px;
    right: 1720px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.nutrition-facts {
    position: relative;
    right: 3050px;
    white-space: nowrap;
    bottom: 290px;
}

.ul-2 {
    position: relative;
    right: 3430px;
    white-space: nowrap;
    bottom: 150px;
}

.sub {
    position: relative;
    right: 3040px;
    white-space: nowrap;
    bottom: 300px;
}

.summary {
    position: relative;
    top: 100px;
    font-size: 24px;
    text-align: center;
}

.org-link a{
    font-size: 32px;
    position: relative;
    top: 200px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    left: 850px;
    border: 1px black solid;
    background-color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
    color: black;
    text-decoration: none;
}

.intro {
    display: flex;
    justify-content: flex-start;
    position: relative;
    top: 100px;
}

.findings {
    position: relative;
    top: 100px;
}

.conclusion {
    position: relative;
    top: 100px;
}

.wrd-count {
    position: relative;
    top: 100px;
}

.indent {
    font-size: 28px;
    position: relative;
    top: 100px;
    text-align: justify;
    text-indent: 50px;
    white-space: none;
}

.audio {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}