* {
    padding: 0px;
    margin: 0px;
    font-family: 'Atma', cursive;
}

body {
    background-color: rgb(57, 169, 219);
}

.main-heading,
.summary-heading,
.report-heading,
.email-heading,
.interview-heading,
.video-heading {
    text-align: center;
    position: relative;
    top: 90px;
}

.nav-bar {
    display: flex;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: white;
    z-index: 99;  
}

.nav-item {
    margin: 12px;
    font-size: 18px;
}

.nav-bar a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    transition: 0.5s;
    border-bottom: transparent 1px solid;
    background-color:white;
}

.active {
    border-bottom: goldenrod 4px solid;
    background-color: white;
    color: blue;
}

.nav-bar a:hover {
    border-bottom: goldenrod 2px solid;
    background-color: white;
    color: grey;
}

.next-recipe-a a {
    text-decoration: none;
    font-size: 24px;
    color: rgb(57, 169, 219);
    white-space: nowrap;
    position: relative;
    right: 2370px;

}

.next-recipe-b a {
    text-decoration: none;
    font-size: 24px;
    color: rgb(57, 169, 219);
    white-space: nowrap;
    position: relative;
    right: 3100px;
}

.previous-recipe-b a {
    text-decoration: none;
    font-size: 24px;
    color: rgb(57, 169, 219);
    position: relative;
    right: 4539px;
    white-space: nowrap;
    
}

.next-recipe a {
    text-decoration: none;
    font-size: 24px;
    color: rgb(57, 169, 219);
    white-space: nowrap;
}

.previous-recipe a {
    text-decoration: none;
    font-size: 24px;
    color: rgb(57, 169, 219);
}

.hdg {
    position: relative;
    white-space: nowrap;
    left: 753px;
    bottom: 880px;
    width: 100px;
}

.txt {
    position: relative;
    font-size: 20px;
    left: 0px;
    bottom: 780px;
    white-space: nowrap;
}

.ing {
    position: relative;
    right:1520px;
    bottom: 700px;
}

.ul {
    position: relative;
    bottom: 200px;
    right: 1695px;
    font-size: 20px;
    white-space: nowrap;
}

.inst {
    position: relative;
    bottom: 650px;
    right: 1200px;
}

.ol {
    position: relative;
    bottom: 390px;
    right: 1730px;
    font-size: 20px;
    white-space: nowrap;
}

.menu-content-holder {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    top: 120px;
    text-align: center;
    height: 950px;
    width: 1700px;
    border-radius: 0px;
    background-color: rgba(255, 255, 255, 0.9);
}

.paneer {
    position: relative;
    bottom: 100px;
    right: 1720px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.nutrition-facts {
    position: relative;
    right: 3050px;
    white-space: nowrap;
    bottom: 290px;
}

.ul-2 {
    position: relative;
    right: 3430px;
    white-space: nowrap;
    bottom: 150px;
}

.sub {
    position: relative;
    right: 3040px;
    white-space: nowrap;
    bottom: 300px;
}

.summary {
    position: relative;
    top: 100px;
    font-size: 24px;
    text-align: center;
}

.org-link a{
    font-size: 32px;
    position: relative;
    top: 200px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    left: 850px;
    border: 1px black solid;
    background-color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
    color: black;
    text-decoration: none;
}

.intro {
    display: flex;
    justify-content: flex-start;
    position: relative;
    top: 100px;
}

.findings {
    position: relative;
    top: 100px;
}

.conclusion {
    position: relative;
    top: 100px;
}

.wrd-count {
    position: relative;
    top: 100px;
}

.indent {
    font-size: 28px;
    position: relative;
    top: 100px;
    text-align: justify;
    text-indent: 50px;
    white-space: none;
}

.audio {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hdg-2 {
    position: relative;
    white-space: nowrap;
    bottom: 900px;
    left: 700px;
}

.txt-2 {
    position: relative;
    white-space: nowrap;
    bottom: 870px;
    right: 150px;
    font-size: 24px;
}

.ing-2 {
    position: relative;
    white-space: none;
    bottom: 800px;
    right: 1700px;
}

.ul-1 {
    position: relative;
    white-space: nowrap;
    bottom: 170px;
    right: 1820px;
    text-align: left;
}

.inst-2 {
    position: relative;
    white-space: nowrap;
    bottom: 800px;
    right: 1390px;
}

.ol-2 {
    position: relative;
    white-space: nowrap;
    text-align: left;
    bottom: 500px;
    right: 2030px;
}

.nutrition-facts-2 {
    position: relative;
    right: 3450px;
    white-space: nowrap;
    bottom: 390px;
}

.sub-2 {
    position: relative;
    right: 3440px;
    white-space: nowrap;
    bottom: 400px;
}

.ul-2-2 {
    position: relative;
    white-space: nowrap;
    right: 3850px;
    bottom: 230px;
}

.taco-bowl {
    position: relative;
    bottom: 100px;
    right: 2420px;
    width: 500px;
    height: 400px;
    border-radius: 80%;
}

.video {
    height: 500px;
    width: 350px;
    position: relative;
    top: 200px;
    left: 1000px;
}

.hdg-3 {
    position: relative;
    white-space: nowrap;
    bottom: 900px;
    left: 700px;
}

.txt-3 {
    position: relative;
    white-space: nowrap;
    bottom: 870px;
    right: 100px;
    font-size: 24px;
}

.ing-3 {
    position: relative;
    white-space: none;
    bottom: 800px;
    right: 1350px;
}

.ul-3 {
    position: relative;
    white-space: nowrap;
    bottom: 470px;
    right: 1460px;
    text-align: left;
}

.inst-3 {
    position: relative;
    white-space: nowrap;
    bottom: 800px;
    right: 990px;
}

.ol-3 {
    position: relative;
    white-space: nowrap;
    text-align: left;
    bottom: 600px;
    right: 1330px;
    font-size: 24px;
}

.nutrition-facts-3 {
    position: relative;
    right: 2350px;
    white-space: nowrap;
    bottom: 390px;
}

.sub-3 {
    position: relative;
    right: 2340px;
    white-space: nowrap;
    bottom: 400px;
}

.ul-2-3 {
    position: relative;
    white-space: nowrap;
    right: 2750px;
    bottom: 230px;
}

.black-chili {
    position: relative;
    height: 500px;
    width: 450px;
    right: 1400px;
    bottom: 100px;
    border-radius: 50%;
}